{% extends 'home.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block container_block %}
<div class="profile-container">
    <h1 class="text-center mb-4 text-primary">Profile of {{ user.username }}</h1>
    <div class="card mb-3 border-primary">
        <div class="row g-0">
            <div class="col-md-4 text-light">
                {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" class="img-fluid rounded-start" alt="Profile Image">
                {% else %}
                    <img src="{% static 'default-profile.png' %}" class="img-fluid rounded-start" alt="Default Profile Image">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ user.fullName }}</h5>
                    <p class="card-text"><strong>Age:</strong> {{ user.age }}</p>
                    <p class="card-text"><strong>Bio:</strong> {{ user.bio }}</p>
                    <p class="card-text"><strong>Birth Date:</strong> {{ user.birthDate }}</p>
                    <p class="card-text"><strong>Gender:</strong> {{ user.get_gender_display }}</p>
                    {% if user.profile_header_image %}
                        <p class="card-text"><strong>Profile Header Image:</strong></p>
                        <img src="{{ user.profile_header_image.url }}" class="img-fluid" alt="Profile Header Image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
